{% extends "to_do/base_view.html" %}
<br>
{% block content %}
<br>


<section class = "add_project">
    {% if editing_project %}
    <div class ="container">
        <div class = "box">
            <h3 class="title is-3">"{{ editing_project.title }}"</h3> <br>
            <h4 class="subtitle is-4">Started on: {{ editing_project.description }}</h4>
            {% if editing_project.time_ended != None %}
            <h4 class="subtitle is-4 pulled-right"> Finished on {{editing_project.time_ended}}</h4>
            <br>
            {% endif %}
       {%endif%}             
       
{% load crispy_forms_tags %}
            <div class = "box">
                <form action = "" method = "post"> 
                    {% csrf_token %} 
                    <div class= "columns">
                        <div class = "column">
                            {{ form |crispy}}

                            {{ add_project_form|crispy }} 
                        </div>
                    </div>
                    <input class="button is-primary" input type="submit" value="Submit">
                    {% if editing_project %}
                    
                    {% if project.complete %}
                    <a class="button is-success" href='{% url "toggle_checkmark" editing_project.id %}'>Mark Not Done</a>
                    {% else %}
                    <a class="button is-warning" href='{% url "toggle_checkmark" editing_project.id %}'>Mark Done</a>
                    {% endif %}
                    <a class="button is-danger is-pulled-right" href='{% url "delete_project" editing_project.id %}'>Delete project</a> 

                    {% endif %}
                </form> 
            </div>
            
            
            
            
            
            
            
    </div>

</section>

{%endblock content %}

