{% extends "to_do/base_view.html" %}
<br>
{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    {% for pjs in personal_projects %}
    <center><h2 class="title is-h2"> Personal Projects</h2></center>
        <table class="table is-fullwidth is-hoverable is-bordered">
            <thead>
                <caption><h3 class="title is-3">{{pjs.title}}</h3></caption>
                <br>
                    <th></th>
                    <th>Completed?</th>
                    <th>Task</th>
                    <th>Started On</th>
                    <th>Finished On</th>
                    <th></th>
                    <th></th>
            </thead>
            <tbody>
                {% for item in pjs.children.select_related %}
                <tr>
                    <th id="counter">
                        <p>{{ forloop.counter }}</p>
                    </th>
                    <th id="completed">
                        <p>
                            {% if item.completed %}
                            <a class="button is-white" input type="submit" href='{% url "toggle_checkmark" item.id %}'
                            pk={{item.id}}>
                            <span class="icon has-text-success">
                                <i class="fas fa-check-square"></i>
                            </span>
                        </a>
                        {% else %}
                        <a class="button is-white" input type="submit" href='{% url "toggle_checkmark" item.id %}'
                        pk={{item.id}}>
                        <span class="icon has-text-danger">
                            <i class="fas fa-ban"></i>
                        </span>
                    </a>
                    {%endif%}
                </p>
            </th>
            <th id="detail">
                <p><a href='{% url "task_detail" item.id %}' pk={{item.id}}> {{ item.title }}</p>
                </th>
                <th id="began">
                    <p>{{ item.time_began}}</p>
                </th>
                
                <th id="ended">
                    <p>{{ item.time_ended}}</p>
                </th>
                
                <th> 
                    <a class="button is-success" value="Edit Task" href='{% url "edit_task" item.id %}' pk={{item.id}}>Edit Task</a> 
                </th>
                <th> 
                    <a class="button is-warning" value="Delete Task" href='{% url "delete_task" item.id %}' pk={{item.id}}>Delete Task</a> 
                </th>
                
                {%endfor%}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br><br>

<!-- {% block guest_view %}
{% endblock guest_view %} -->
{%endif%}

{% include "to_do/guest_view.html" %}
{%endblock content %}


