{% extends "to_do/base_view.html" %}

{% block content %}

<section class= "add_project">
  <div class ="container">
      <div class = "box">
          <h3 class="title is-3">"{{ project.title }}"</h3> <br>
          <progress class="progress is-large is-info" value="{{ project.get_progress }}" max="100">{{ project.get_progress|floatformat:"0"}}%</progress><br>
          <section class = "section">
              <div class="columns">
                  <div class="column">
                      <div class = "box">
                          <table class="table">
                              <thead>
                                  <tr>
                                    <th colspan="2">These need done before this project can be completed:</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for p in project_tasks %} 
                                  {% if p.completed == False %} 
                                <tr>                                  <td>
                                    <a class="button is-white"  input type ="submit" disabled=True href='{% url "toggle_checkmark" p.id %}'>
                                        <span class="icon has-text-danger">
                                            <i class="fas fa-ban"></i>
                                        </span>
                                    </a>
                                </td>
                                  <td><a  href='{% url  "task_detail" p.id %}'>{{ p.title }}</a> </td>
                                  </tr>                            
                                  {% endif %}
                                  {% endfor %}
                              </tbody>
                              </table
                          </div>
                      </div>
                  </div>
                  <div class="column">
                      <div class = "box">
                          <table class="table">
                              <thead>
                                  <tr>
                                    <th colspan="2">These tasks have been completed:</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for p in project_tasks %}
                                  {% if p.completed  %} 
                                  <tr>
                                    <td>
                                        <a class="button is-white"  input type ="submit" disabled=True href='{% url "toggle_checkmark" p.id %}'>
                                            <span class="icon has-text-success">
                                                <i class="fas fa-check-square"></i>
                                            </span>
                                        </a>
                                    </td>
                                    <td><a  href='{% url  "task_detail" p.id %}'>{{ p.title }}</a> </td>
                                  </tr>
                                  {% endif %}
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              </section>

          </div>

{%endblock content %}
  
  
  
  