{% extends "resume/base_view.html" %}
{% block content %}
{% load static %}

<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <center>
            <h1 class="title is-1">Andrea Wiley</h1>
            <h3 class="title is-3">Software developer, data lover, general nerd.</h3>
            <br>
        </center>
    </div>
    <br>
    
    <div class = "container">
        <div class = "box is-grey">
            <center><p class="has-text-justified is-family-sans-serif">
                Hi There!
                <br>
                <br>
                I have always been interested in Tech and Web Development.  However, there just never seemed to be the right path for me to make it a career. 
                When I was in high school, I programmed and played on a MUDD.  
                If you've never played a MUDD, they came around at the beginning of the 56 k/b modems.
                Using Telnet, you could log into a UNIX server and play all kinds of role-playing, strategy, turn-based, or real-time
                text-based games.  This is where I got my first exposure to C, C++, and command-line interfaces.  
                I programmed a LOT for this game and its website. 
                <br>
                <br>
 
                When I started college, I got too busy for the game and eventually stopped playing.  At college, I was unsure of what to major in.  I tried engineering, English literature, biology, and had a host of other shorter-term ideas.  Computers and tech were always in the back of my mind, but back then there were not a lot of women in tech.  I remember going to the Comp Sci department
                at the University of Kansas when I was considering changing majors, and there was not a single woman.
                And to be honest, I had imposter syndrome even then.  To be on my own, continually proving that as a woman I could hold my own against
                 the horde of super-smart comp-sci majors was extremely intimidating. Eventually, I went into business school where the marketing emphasis 
                 degree combined psychology and data manipulation via statistics.  After graduating, it helped me get a few jobs but none that were anywhere 
                 close to what I had envisioned. So I kept reading and kept growing and learning.
                <br>
                <br>
 
                My next major experience with tech was a few years ago. I was heavily into stock trading and picked up some Java and Javascript to make some models.  That was fun and educational, but I never developed the fortitude for day trading.  I couldn't think of another project I was passionate about to use Java in,
                either. So again, I moved on.<br>
                <br>
 
 
                This brings us to 2020.  I live in a rural area, a very conservative part of the country.  There is a deep distrust here of the media and the government.  Since I've always liked programming and playing with large blocks of data,
                I started looking for graphs and charts to explain what we were seeing.  This led me to Python.  And boy, do I 
                LOVE Python.  I can think of a million projects I want to get done.  I quickly realized I want to do this for LIFE.  
                <br>
 
                <br>I want to use my love of math and charting to help people understand complex topics.
                <br>
                I want to be a Python Programmer, and in the future, a data scientist. 
               </p>
</div>
</div>
</div>
</div>
</section>
{% endblock %}