<!DOCTYPE html>    
{% load static %}

<html>
<head>
    <title>{{item.id }} - {{item.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/default/bulmaswatch.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

    <nav class="navbar is-light" role="navigation" aria-label="main navigation" >
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'list_view' %}">
                <img src={% static 'img/logo.png' %} width="50" height="1000">
            </a>
            
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                {% if user.is_authenticated %}
                <p> Hi, {{user}}</p>
            </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href ='{% url "list_view" %}'> 
                        Tasks
                    </a>   
                    <div class="navbar-dropdown">
                        {% for item in all_tasks %}
                        {% if not item.completed %}
                        <a class="navbar-item" href='{% url "task_item" item.id %}'>
                            {{ forloop.counter }}. {{ item.title }}
                        </a>
                        {%endif%}
                        {% endfor %}
                    </div>
                </div>      
                <a class="navbar-item" href="{% url 'add_task' %}">
                    Add a Task
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href ='{% url "mass_edit_view" %}'>
                        Edit Tasks
                    </a>
                    <div class="navbar-dropdown">
                        {% for item in all_tasks %}
                        {% if not item.completed %}
                        <a class="navbar-item" href='{% url  "edit_task" item.id %}' pk={{ item.id }}>{{ forloop.counter }}. {{ item.title }}</a>
                        {%endif%}
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href ='{% url "list_view" %}'> 
                        Delete Task
                    </a>   
                    <div class="navbar-dropdown">
                        {% for item in all_tasks %}
                        {% if not item.completed %}
                        <a class="navbar-item" href='{% url "delete_task" item.id %}'>
                            {{ forloop.counter }}. {{ item.title }}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>      
                <div class="navbar-item">
                    <div class="buttons">
                        
                        <a class="button is-dark" href='{% url "logout" %}'>
                            Log out 
                        </a>
                        {% else %}
                    </div>
                    <div class="navbar-end">                       
                        <a class="button is-primary" href="{% url 'login' %}" >
                            Log In
                        </a>
                        <a class="button is-primary" href = "{% url 'signup'%}">
                            Sign up
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class = "container">
    {% if messages %}
    <div class="notification is-success">
        <button class="delete"></button>
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">
                <strong>
                    {{ message }}
                </strong>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}    
</div>

<div class = "container">
    {% block content %}
    
    {% endblock content %}
</div> 
</body>
