{% extends "base_view.html" %}
<br>
{% block content %}
<div class = "container">
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <h2 class="title-is-2">
                <th>Project</th>
                <th></th>
                <th></th>
                </h2>
            </tr>
        </thead>
        <tbody>
            {% for item in project_list %}
            {% if user == item.person %}
            <tr>
            
            <td>{{forloop.counter}}. <a href='{% url "project_detail" item.id %}' pk = {{item.id}}> {{ item.title }}</a></td>
            <td><progress class="progress is-small is-info" value="{{ item.get_progress }}" max="100">{{ get_progress }}</progress></td>
            <td>{{ item.get_progress}}a</td>
            
        </tr>
        
        {% elif user.is_admin %}
        
        <tr><td>{{forloop.counter}}. <a href='{% url "project_detail" item.id %}' pk = {{item.id}}> {{ item.title }}</a></td>
            <td>{{ item.time_began}} </td>
        </tr>
        <br>
        {% endif %}
        {% endfor %}
    </p>
    {%endblock content %}
    