{% extends "base_view.html" %}

{% block content %}

<section class= "add_project">
  <div class ="container">
      <div class = "box">
          <h3 class="title is-3">"{{ project.title }}"</h3> <br>
          <progress class="progress is-large is-info" value="{{ project.get_progress }}" max="{{ 1 }}">{{ project.get_progress }} </progress><br>
          <section class = "section">
              <div class="columns">
                  <div class="column">
                      <div class = "box">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>These need done before this project can be completed:</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for p in project_tasks %} 
                                  {% if p.completed == False %} 
                                <tr>
                                  <td><a  href='{% url  "task_detail" p.id %}'>{{ p.title }}</a> </td>
                                  </tr>                            
                                  {% endif %}
                                  {% endfor %}
                              </tbody>
                              </table
                          </div>
                      </div>
                  </div>
                  <div class="column">
                      <div class = "box">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>These tasks have been completed:</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for p in project_tasks %}
                                  {% if p.completed  %} 
                                  <tr>
                                    <td><a  href='{% url  "task_detail" p.id %}'>{{ p.title }}</a> </td>
                                  </tr>
                                  {% endif %}
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              </section>

          </div>

{%endblock content %}
  
  
  
  